main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact_info {
    width: fit-content;
    margin: 0 auto;
}

#contact_info p {
    margin-bottom: 10px;
    font-size: 30px;
}

#contact_info_2 {
    display: none;
}

.contact {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media only screen and (max-width: 580px) {
    #contact_info {
        display: none;
    }

    #contact_info_2 {
        display: block;
    }

    #contact_info_2 p {
        font-size: 24px;
    }
}

@media only screen and (max-width: 330px) {
    #contact_info_2 p {
        font-size: 17px;
    }
}
