.offering, .why_me {
    text-align: left;
    width: fit-content;
    margin: 0 auto;
}

#offering_list li {
    text-align: left;
    padding-left: 50px;
    font-size: 18px;
}

#why_me_list li {
    text-align: left;
    padding-left: 50px;
    font-size: 18px;
}

#more_info, #contact_href {
    margin-top: 20px;
}
